button{
    height: 36px;
    padding: 20px;
    display: inline-flex;
    align-items: center; 
  }

  .danger-btn{      
    background-color: chocolate; 
    border-color: chocolate; 
    color:aliceblue
  }

  .rounded-btn{
    border-radius: 20px;
  }

  input{
    height: 36px;
  }